
body{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#003747), color-stop(50%, #0c777d), color-stop(94%, #031622));
    background-image: -webkit-linear-gradient(top, #003747 0%, #0c777d 50%, #031622 94%);
    background-image: linear-gradient(to bottom,#031622 0%, #333333 50%, #aaaaaa 94%);
}

h1{
    font-family: 'Sunflower', sans-serif;
    font-weight: 700;
    font-size: 100px;
}

h2{
    font-family: 'Lato', sans-serif;
}

h5{
    text-align: center;
}

.btn{
    background-color: #3b0054;
    color: #ffffff;
}

.btn:hover{
    color: #dddddd;
    background-color: #5d2074;
}

.card{
    padding: 10px;
}

.card-body{
    text-align: center;
    min-height: 200px; 
}

.card-img-top{
    min-height: 204px;
}

.card-text{
    height: 150px;
}

.jumbotron{
    border-radius: 0px;
    background-color: #3b0054;
    color: #ffffff;
}

.modal-header{
    background-color: #3b0054;
    color: #ffffff;
}

.title{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
    font-family: 'Dosis', sans-serif;
}

#comment-label{
    font-weight: 600;
}

#comment-modal-body{
    padding: 10px;
    text-align: center;
}

#sync{
    font-size: 30px;
    border: 2px solid black;
    border-radius: 20px;
    color: #3b0054;
    background-color: #ffffff;
    cursor: pointer;
}

#sync h4{
    display: inline;

}

/* Center Placeholder */
::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }